@using Films.Models.ViewModels
@model Films.Models.ViewModels.MovieDetailsViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/MovieDetail.css?v=@DateTime.Now.Ticks" />
}

@{
    var currentList = Model.UserMovieLists
        .FirstOrDefault(l => l.FkIdMovie == Model.Id);

    string scoreClass = "low";
    if (Model.Review >= 9)
    {
        scoreClass = "excellent";
    }
    else if (Model.Review >= 7)
    {
        scoreClass = "good";
    }
    else if (Model.Review >= 5)
    {
        scoreClass = "average";
    }

}


<div class="movie-detail-container">
    <div class="movie-detail-banner" style="background-image: url('https://image.tmdb.org/t/p/original/@Model.BackdropPath');">
        <div class="banner-overlay">
            <div class="banner-content container">
                <img class="poster" src="https://image.tmdb.org/t/p/w500/@Model.PosterPath" alt="@Model.Title" />
                <div class="info">
                    <h1>@Model.Title</h1>
                    <div class="score @scoreClass">
                        <span class="score-value">@Model.Review</span>
                        <span class="score-label">Nota de los usuarios</span>
                    </div>
                    <div class="genres">
                        @foreach (var genre in Model.Genres)
                        {
                            <span class="genre-badge">@genre.Name</span>
                        }
                    </div>
                    <div class="movie-actions">
                        <div class="action-wrapper">
                            <form method="post" action="/Home/AddToList">
                                <button type="submit" class="action-btn" name="listType" value="Pendiente">
                                    <i class="fa-regular fa-hourglass-half"></i>
                                </button>
                                <input type="hidden" name="idFilm" class="idFilm" value="@Model.Id" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <span class="tooltip">Pendiente</span>
                            </form>
                        </div>
                        <div class="action-wrapper">
                            <form method="post" action="/Home/AddToList">
                                <button type="submit" class="action-btn" name="listType" value="Completada">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                                <input type="hidden" name="idFilm" class="idFilm" value="@Model.Id" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <span class="tooltip">Completada</span>

                            </form>
                        </div>
                        <div class="action-wrapper">
                            <form method="post" action="/Home/AddToList">
                                <button class="action-btn" type="submit" name="listType" value="Favorita">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                                <input type="hidden" name="idFilm" class="idFilm" value="@Model.Id" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <span class="tooltip">Favorita</span>
                            </form>
                        </div>
                        <div class="action-wrapper">
                            <form method="post" action="/Home/AddToList">
                                <button class="action-btn" type="submit" name="listType" value="Abandonada">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <span class="tooltip">Abandonada</span>
                                <input type="hidden" name="idFilm" class="idFilm" value="@Model.Id" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                            </form>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

    <div class="container movie-detail-body">
        <p class="sinopsis"><strong>Sinopsis</strong></p>
        <p>@Model.Overview</p>
    </div>
</div>



