@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Films.Models.ViewModels.LoginViewModel
@{
    Layout = null;
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="auth-container">
    <div class="auth-left">
        <img style="width: 900px"; height="900px" src="~/images/ImagenPortada2.png" alt="Movie Photo" />
    </div>

    <div class="auth-right">
        <h1>Inicia Sesión</h1>
        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" style="color: #F4C430" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" style="color: #F4C430" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-submit">Login</button>
        </form>
        <p>No tienes una cuenta? <a asp-action="SignUp">Crear una cuenta</a></p>
    </div>
</div>

<!-- Library SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@if (ViewBag.SignUpSuccess != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Cuenta creada!',
            text: '@Html.Raw(@ViewBag.SignUpSuccess)',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
@if (ViewBag.LoginError != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '@Html.Raw(@ViewBag.LoginError)',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}



