@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pelist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Films.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-nav box-shadow inferior-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="w-25" src="~/images/logo_pelist.png"/></a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var imageUrl = User.Claims.FirstOrDefault(c => c.Type == "ImageUrl")?.Value ?? "https://res.cloudinary.com/duc5qq3mn/image/upload/v1744890605/profile-icon-design-free-vector_m86jfn.jpg";

                            <li class="me-3">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">
                                    <img src="@imageUrl" alt="Foto de perfil"
                                         class="rounded-circle"
                                         style="width:40px; height:40px; object-fit:cover;" />
                                </a>
                            </li>

                            <li class="d-flex align-items-center me-5">
                                <button class="d-flex border-0 bg-transparent position-relative p-0" data-bs-toggle="modal" data-bs-target="#notificationModal" style="width: 40px; height: 40px;">
                                    <img class="bg-bell w-100 h-100" src="~/images/notification-bell.png" alt="Notificaciones" style="object-fit: cover;" />
                                    @await Component.InvokeAsync("NotificationsCount")
                                </button>
                            </li>


                            <!--Modal de notificaciones-->
                            <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark text-white">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="notificationModalLabel">Notificaciones</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        @await Component.InvokeAsync("Notifications")
                                    </div>
                                </div>
                            </div>

                            <li class="">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-logout">Cerrar sesión</button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="">
                                <a asp-controller="Authentication" asp-action="Login" class="btn btn-login">Iniciar sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="d-flex align-items-center justify-content-between mt-5 bg-nav box-shadow">
        <img class="footer-image-size ms-5" src="~/images/logo_pelist_footer.png"/>
        <div class="me-5">
            <p>
                <i class="fab fa-linkedin me-1 fs-3"></i><a class="text-white text-decoration-none fs-3" href="https://www.linkedin.com/in/alex-alcala-garcia-824963235/" target="_blank">Alex</a>
            </p>
            <p>
                <i class="fab fa-linkedin me-1 fs-3"></i><a class="text-white text-decoration-none fs-3" href="#" target="_blank">Carla</a>
            </p>
            <p>
                <i class="fab fa-linkedin me-1 fs-3"></i><a class="text-white text-decoration-none fs-3" href="https://www.linkedin.com/in/david-palac%C3%ADn-gim%C3%A9nez-64b5b3219/" target="_blank">David</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

